#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. 
# GNU copyright 1997 by Joey Hess.
#
# This version is for a hypothetical package that builds an
# architecture-dependant package, as well as an architecture-independent
# package.

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

clean:
	dh_testdir
	dh_testroot
	dh_clean

build:

build-indep:

build-arch:

binary-indep:

binary-arch:

install: build
	dh_testdir -i
	dh_testroot -i
	dh_clean -i
	dh_installdirs -i
	make DESTDIR=debian/pkg-cacher install-config
	make DESTDIR=debian/pkg-cacher install-dirs
	make DESTDIR=debian/pkg-cacher install-files
	make DESTDIR=debian/pkg-cacher install-link
	perl -pe 's/^our \$$version=.*/our \$$version="'$(shell dpkg-parsechangelog  | grep ^Version | cut -f2 -d\  )'";/' -i $(CURDIR)/debian/pkg-cacher/usr/share/pkg-cacher/pkg-cacher
	dh_link -ppkg-cacher-sa /usr/share/doc/pkg-cacher /usr/share/doc/pkg-cacher-sa
	dh_link -ppkg-cacher-cgi /usr/share/doc/pkg-cacher /usr/share/doc/pkg-cacher-cgi
	dh_installdocs -ppkg-cacher README TODO client-samples
	dh_installlogrotate -i
	dh_installinit -i --name=pkg-cacher
	dh_installcron -i
	dh_installman -i debian/pkg-cacher.1
	dh_installchangelogs  -i
	dh_link -ppkg-cacher-cgi /etc/pkg-cacher/apache.conf /etc/apache2/conf.d/pkg-cacher.conf
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_perl -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary: install

.PHONY: clean binary install build
