#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. 
# GNU copyright 1997 by Joey Hess.
#
# This version is for a hypothetical package that builds an
# architecture-dependant package, as well as an architecture-independent
# package.

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build-arch: configure-stamp  build-arch-stamp
build-arch-stamp:
	dh_testdir

	touch build-arch-stamp

build-indep:  configure-stamp build-indep-stamp
build-indep-stamp:
	dh_testdir

# Add here command to compile/build the arch indep package.
# It's ok not to do anything here, if you don't need to build
#  anything for this package.
#/usr/bin/docbook-to-man debian/pkg-cacher.sgml > pkg-cacher.1

	touch build-indep-stamp

build: build-arch build-indep
#	perl Makefile.PL INSTALLDIRS=vendor
#	$(MAKE) OPTIMIZE="-O2 -G -Wall"

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp configure-stamp

# Add here commands to clean up after the build process.
	dh_clean

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs usr/sbin

	install -m644 pkg-cacher.conf debian/pkg-cacher/etc/pkg-cacher/pkg-cacher.conf
	install -m644 apache.conf debian/pkg-cacher/etc/pkg-cacher/apache.conf
	install -m755 pkg-cacher.pl debian/pkg-cacher/usr/share/pkg-cacher/pkg-cacher.pl
	install -m755 pkg-cacher2 debian/pkg-cacher/usr/share/pkg-cacher/pkg-cacher
	ln -sf   ../share/pkg-cacher/pkg-cacher debian/pkg-cacher/usr/sbin/pkg-cacher 
	install -m755 pkg-cacher-report.pl debian/pkg-cacher/usr/share/pkg-cacher/pkg-cacher-report.pl
	install -m755 pkg-cacher-cleanup.pl debian/pkg-cacher/usr/share/pkg-cacher/pkg-cacher-cleanup.pl
	install -m755 pkg-cacher-precache.pl debian/pkg-cacher/usr/share/pkg-cacher/pkg-cacher-precache.pl
	install -m755 pkg-cacher-import.pl debian/pkg-cacher/usr/share/pkg-cacher/pkg-cacher-import.pl
	install -m755 pkg-cacher-lib.pl debian/pkg-cacher/usr/share/pkg-cacher/pkg-cacher-lib.pl
	install -m755 pkg-cacher.cron.daily debian/pkg-cacher/etc/cron.daily/pkg-cacher
	perl -pe 's/^my \$$version=.*/my \$$version="'$(shell dpkg-parsechangelog  | grep ^Version | cut -f2 -d\  )'";/' -i $(CURDIR)/debian/pkg-cacher/usr/share/pkg-cacher/*

# Build architecture-independent files here.
# Pass -i to all debhelper commands in this target to reduce clutter.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
#	dh_installdebconf -i
	dh_installdocs -i
	dh_installexamples -i
	dh_installmenu -i
	dh_installlogrotate -i
#	dh_installemacsen -i
#	dh_installpam -i
#	dh_installmime -i
	dh_installinit -i
	dh_installcron -i
	dh_installman -i debian/pkg-cacher.1
	dh_installinfo -i
#	dh_undocumented -i
	dh_installchangelogs  -i
	dh_link -i /usr/share/pkg-cacher/pkg-cacher.pl /usr/lib/cgi-bin/pkg-cacher
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_perl -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
